<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p><br><br>
    <a href="/movies">Listado de peliculas</a><br><br>
    <a href="/movies/new">Ultimos Estrenos</a><br><br>
    <a href="/movies/recommended">Recomendadas</a><br><br>
    <a href="/genres">Generos</a><br><br>
  </body>
</html>
